In [ ]:
def say_myself(name,old,man=True):
  print("나의 이름은 %s입니다." % name)
  print("나이는 %d살입니다" %old)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [ ]:
say_myself("박응용",27)

나의 이름은 박응용입니다.
나이는 27살입니다
남자입니다.

In [ ]:
#vartest.py

In [ ]:
a=1

In [ ]:
def vartest(a):
  a=a+1

SyntaxError: ignored

In [ ]:
vartest(a)

In [ ]:
print(a)

1

In [ ]:
def vartest(a):
  a=a+1

In [ ]:
vartest(3)

In [ ]:
print(a)

1

In [ ]:
def vartest(a):
  a = a+1
  return a

In [ ]:
a= vartest(a)

In [ ]:
print(a)

2

In [ ]:
a= 1
def vartest():
  global a
  a= a+1
vartest()
print(a)

2

In [ ]:
add= lambda a,b :a+b

In [ ]:
result = add(3,4)

In [ ]:
result

7

In [ ]:
a= input()

Life is too short, you need python

In [ ]:
number = input("숫자를 입력하세요:")

숫자를 입력하세요:1

In [ ]:
a=123

In [ ]:
print(a)

123

In [ ]:
a="Python"

In [ ]:
print(a)

Python

In [ ]:
a=[1,2,3]

In [ ]:
print(a)

[1, 2, 3]

In [ ]:
print("Life" "is" "too short")

Lifeistoo short

In [ ]:
for i in range(10):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
def is_odd(number):
  if number%2==1:
    return True
  else:
    return False

In [ ]:
is_odd(3)

True

In [ ]:
def avg_numbers(*args):
  result = 0
  for i in args:
    result += i
  return result/len(args)

In [ ]:
avg_numbers(1,2)

1.5

In [ ]:
input1= input("첫번째 숫자를 입력하세요")

첫번째 숫자를 입력하세요1

In [ ]:
input2 = input("두번째 숫자를 입력하세요")

두번째 숫자를 입력하세요2

In [ ]:
total = int(input1)+int(input2)

In [ ]:
print("두 수의 합은 %s입니다" %total)

두 수의 합은 3입니다